RewriteEngine On
RewriteBase /ztorespotcrm_admin/

# جلوگیری rewrite loop (IMPORTANT)
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{THE_REQUEST} \.php
RewriteRule ^(.+)\.php$ /ztorespotcrm_admin/$1 [R=301,L]

# Skip existing files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Don't rewrite ajax POST
RewriteCond %{REQUEST_URI} !^/ztorespotcrm_admin/ajax/

# Internal rewrite
RewriteRule ^(.+)$ $1.php [L,QSA]

# Default page
RewriteRule ^$ index.php [L]